.show-header
  .show-header__lists
    .user-lists
      .user-name
        = current_user.nickname
      .user-icon
        = link_to edit_user_path(current_user), class: "user-btn" do
          = image_tag current_user.image.url, class: "user-image"
    .btn-lists
      .sign-in
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      .write-message
        = link_to "新規投稿", new_picture_path, class: 'btn'
      
    
.show-body
  .following-box
    - @following.each do |following|
      .my-image-items
        = link_to user_path(following.user_id), class: "follow-btn" do
          .my-image-items__icon
            = image_tag following.follow.image, class: "following-image", alt: "no image" do
              .like-user-items__nickname
                don
  .favorite-box
    - @favorites.each do |favorite|
      .my-image-items
        = link_to "#", class: "favorite-btn" do
          .my-image-items__icon
            = image_tag favorite.picture.image.url, class: "users-image" 

  
    