.show-header
  .show-header__lists
    .user-lists
      .user-name
        = @nickname
      .user-icon
        = link_to user_path(current_user), class: "user-btn" do
          = image_tag @user.image.url, class: "user-image"
      
      - if @user.id == current_user.id
        
      - else
        .follow.icon
          - if current_user.following?(@user)
            - @follow = current_user.relationships.find_by(follow_id: @user.id)
            = link_to relationship_path(@follow, follow_id: @user.id), method: :delete, class: "unfollow" do
              フォローしています
          - else
            = link_to relationships_path(relationships: relationships_url, follow_id: @user.id),method: :post, class: "follow" do
              フォローする
    - if @user.id == current_user.id
      .btn-lists
        .sign-in
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
        .edit-account
          = link_to " 編集 ", edit_user_path(current_user), class: 'btn'
      
    
.show-body
  .following-box
    - @following.each do |following|
      .my-image-items
        = link_to user_path(following.follow_id), class: "follow-btn" do
          .my-image-items__icon
            = image_tag following.follow.image, class: "following-image", alt: "no image" do
              .like-user-items__nickname
                don
  .favorite-box
    - @favorites.each do |favorite|
      .my-image-items{class: "favorite-id#{favorite.picture_id}"}
        = link_to "#", class: "favorite-btn" do
          .my-image-items__icon
            = image_tag favorite.picture.image.url, class: "users-image" 

  
    