.app-main
  .app-main__header
    .app-main__header__message
      .list1
        King of COOL
      .list2
        King of CUTE
      .list3
        King of CREEPY
    .app-main__header__items
      .right-items
        .right-items__image
          = link_to "#", method: :delete do
            = image_tag @coolest.image, class: "coolest-pic"
        .right-items__nickname
          = link_to user_path(@coolest.user_id), method: :delete do
            = @coolest.user.nickname
      .center-items
        .center-items__image
          = image_tag @cutest.image, class: "cutest-pic"
        .center-items__nickname
          = link_to user_path(@cutest.user_id), method: :delete do
            = @cutest.user.nickname
      .left-items
        .left-items__image
          = image_tag @creepiest.image, class: "creepiest-pic"
        .left-items__nickname
          = link_to user_path(@creepiest.user_id), method: :delete do
            = @creepiest.user.nickname


  .app-main__body
    - @pictures.each do |picture|
      .app-main__body__group
        .picture-image
          - if user_signed_in?
            - if current_user.already_liked?(picture: picture, favorite: 1)
              = link_to favorite_path(picture.id, judg_id: 4), method: :delete do
                = image_tag picture.image.url, class: "image-url", alt: "image.url"
            - else
              = link_to picture_add_path(picture_id: picture.id, judg_id: 4), method: :post do
                = image_tag picture.image.url, class: "image-url", alt: "image.url"
          - else 
            = image_tag picture.image.url, class: "image-url", alt: "image.url"
        .review-group
          .picture-name
            - if user_signed_in?
              - unless current_user.id == picture.user.id
                = link_to user_path(picture.user_id), class: "btn" do
                  =picture.user.nickname
              - else
                =picture.user.nickname
            - else 
              =picture.user.nickname
          .review-items
            .review-items__icons
              .review-items__icons__left
                = link_to picture_add_path(picture.id, judg_id: 1), method: :post do
                  <i class="fas fa-grin-stars fa-5x"></i>
              .review-items__icons__center
                = link_to picture_add_path(picture.id, judg_id: 2), method: :post do
                  <i class="far fa-grin-hearts fa-5x"></i>
              .review-items__icons__right
                = link_to picture_add_path(picture.id, judg_id: 3), method: :post do
                  <i class="far fa-flushed fa-5x"></i>
            .review-items__comments
              .comments-box
                - if user_signed_in? && current_user.id == picture.user_id
                  .input-box
                - elsif user_signed_in? 
                  - @picture = picture
                  = form_for  [@picture, @comment] do |f|
                    .input-box
                      = f.text_field :comments, class: 'message-box', placeholder: 'コメントをどうぞ' 
                      = f.submit 'Send', class: 'submit-btn'


-# = form_for(current_user.relationships.new) do |f|
-#   = f.hidden_field :follow_id, value: picture.user.id 
-#   = f.button class: 'follows' do
-# = form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f|
-#   = f.hidden_field :follow_id, value: picture.user.id 
-#   = f.submit 'フォロー中', class: 'follow-now'
              
