.app-main
  .app-main__header
    .app-main__header__message
      .list1
        King of COOL
      .list2
        King of CUTE
      .list3
        King of CREEPY
    .app-main__header__items 
      .right-items
        .right-items__image{data:{coolest: {id: @coolest.id}}}
          = render partial: 'favorite', locals: { favorite: @coolest }
        .right-items__nickname
          - if user_signed_in?
            = link_to user_path(@coolest.user_id), class: "bests-name" do
              = @coolest.user.nickname
      .center-items
        .center-items__image{data:{cutest: {id: @cutest.id}}}
          = render partial: 'favorite', locals: { favorite: @cutest }
        .center-items__nickname
          - if user_signed_in?
            = link_to user_path(@cutest.user_id), class: "bests-name" do
              = @cutest.user.nickname
      .left-items
        .left-items__image{data:{creepiest: {id: @creepiest.id}}}
          = render partial: 'favorite', locals: { favorite: @creepiest }
        .left-items__nickname
          - if user_signed_in?  
            = link_to user_path(@creepiest.user_id), class: "bests-name" do
              = @creepiest.user.nickname


  .app-main__body#post-body
    -# -if user_signed_in?
    -#   = form_for "javascript:void()" do |f|
    -#     = f.select :image, [ ["all",0], ["cool",1], ["cute",2], ["creepy",3]], {},  class: 'sort-box'
    - @pictures.each do |picture|
      .app-main__body__group
        .picture-image{data:{post: {id: picture.id}}}
          .move-flame{class: "group-id#{picture.id}"}
            - if user_signed_in?
              <i class="fas fa-expand fa-2x"></i>
            .review-items__icons
            
            - if user_signed_in?
              = render partial: 'favorite', locals: { favorite: picture }
            - else 
              = image_tag picture.image.url, class: "image-url", alt: "image.url"
          .review-items__icons__list
            .review-items__icons__list__left
              = link_to picture_add_path(picture.id, judg_id: 1), method: :post do
                <i class="fas fa-grin-stars fa-3x"></i>
            .review-items__icons__list__center
              = link_to picture_add_path(picture.id, judg_id: 2), method: :post do
                <i class="far fa-grin-hearts fa-3x"></i>
            .review-items__icons__list__right
              = link_to picture_add_path(picture.id, judg_id: 3), method: :post do
                <i class="far fa-flushed fa-3x"></i>

        
          .review-group
            .review-group__items
              .picture-name
                - if user_signed_in?
                  - unless current_user.id == picture.user.id
                    = link_to user_path(picture.user_id), class: "btn" do
                      =picture.user.nickname
                  - else
                    =picture.user.nickname
                - else 
                  =picture.user.nickname
              .review-items
                .review-items__content
                  =picture.content
                .review-items__comments
                  .comments-box
                    - if user_signed_in? && current_user.id == picture.user_id
                      .input-box
                    - elsif user_signed_in? 
                      - @picture = picture
                      = form_for  [@picture, @comment] do |f|
                        .input-box
                          = f.text_field :comments, class: 'message-box', placeholder: 'コメントをどうぞ' 
                          = f.submit 'Send', class: 'submit-btn'
            
