!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bfd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    .side-bar-left
      .side-bar-left__appri-name
      - if user_signed_in? 
        .side-bar-left__group-list
          .user-name
            = link_to edit_user_path(current_user), class: "btn" do
              = current_user.nickname
          .sign-in
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
          .write-message
            新規投稿
          .my-favorite
            お気に入り
      - else 
        .side-bar-left__group-list
          .sign-in
            sign up
          .write-message
            sign in
        
      
    .side-bar-right
 
 
  %body
    = yield

