!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bfd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    .side-bar-left
      = link_to root_path, class: 'btn' do
        .side-bar-left__appri-name
      - if user_signed_in? 
        .side-bar-left__group-list
          .user-icon
            - if current_user.image
              = link_to user_path(current_user), class: "btn" do
                = image_tag current_user.image.url, class: "current-user-image"
            - else
              = current_user.nickname 
          .my-favorite
            = link_to user_path(current_user.id), class: "btn" do
              マイページ
          .my-favorite
            = link_to root_path(judge: 3), class: "btn" do
              並び替え(仮)

          .form-post
            = form_for [@post] do |f|
              .field
                = f.label :image, class: 'post-image' do
                  = icon('fas', 'image', class: 'box__image')
                  = f.file_field :image, class: 'hidden'
                .field-input
                  = f.text_field :content, class: "text-box"
                = f.submit "投稿", class: 'subnit-btn'














      - else 
        .side-bar-left__group-list
          .sign-in
            = link_to new_user_registration_path, class: "btn" do
              sign up
          .write-message
            = link_to new_user_session_path, class: "btn" do
              sign in
        
    
    .side-bar-right
      -if user_signed_in?
        .like-user-lists
          .like-user-message
            お気に入りユーザー
          .like-user-box
            - @following.each do |following|
              .like-user-items
                = link_to user_path(following.follow_id), class: "like-btn" do
                  .like-user-items__icon
                    = image_tag following.follow.image, class: "current-user-image", alt: "no image" do
                      .like-user-items__nickname
                        don
             

 
        .like-image-lists
          .like-user-message
            お気に入り写真
          .like-image-box
            - @favorites.each do |favorite|
              .like-image-items
                = link_to "#", class: "like-btn" do
                  .like-image-items__icon
                    = image_tag favorite.picture.image.url, class: "current-user-image" 
                      
      - else



  %body
    = render 'layouts/notifications'
    = yield

