!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bfd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    .side-bar-left
      = link_to root_path, class: 'btn' do
        .side-bar-left__appri-name
      - if @user.id != current_user.id
        .side-bar-left__group-list
          .user-icon
            - if current_user.image
              = link_to user_path(current_user), class: "btn" do
                = image_tag current_user.image.url, class: "current-user-image"
            - else
        
    
    .side-bar-right
      


  %body
    
    = yield

