!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bfd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    .side-bar-left
      = link_to root_path, class: 'btn' do
        .side-bar-left__appri-name
      
        
    
    .side-bar-right
      


  %body
    
    = yield

